.result-grid{
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(24, 25, 27, 0.876);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.delete-btn{
    font-size: 1.5rem;
    border: none;
    outline: none;
    color:antiquewhite;
    padding: 10px;
    border-radius: 15px;
    background-color:rgb(201, 82, 8);
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    cursor: pointer;
}

